@font-face {
  font-family: "Norse-Bold";
  src: url(./font/Norse-Bold.otf) format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 1.5vw, 18px);
}

.container {
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  min-height: 600px;
  display: flex;
}

.left {
  position: relative;
  background-image: url(images/halie-west-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25vw;
  height: 100vh;
}

.logo {
  width: auto;
  height: 80%;
}

.logo-container {
  position: absolute;
  height: 15vh;
  width: 100%;
  top: 20vh;
  font-family: "Norse-Bold", sans-serif;
  letter-spacing: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

.image-credit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: white;
  white-space: nowrap;
}
.image-credit a {
  color: white;
  text-decoration-line: underline;
}

.right {
  position: relative;
  background-color: rgba(236, 236, 236, 0.815);
  width: 75vw;
  height: 100vh;
}

form {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-header {
  font-size: clamp(10px, 5vw, 20px);
  padding: 20px;
  font-weight: 550;
  color: #0c0e0b;
  height: 35vh;
}

.form-main {
  top: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: clamp(10px, 5vw, 18px);
  height: 30vh;
  background-color: white;
}

legend {
  font-size: clamp(10px, 5vw, 20px);

  font-weight: bold;
  margin: 0;
  padding-top: 20px;
}
fieldset {
  box-sizing: border-box;
  background-color: white;
  border: none;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(9, 43, 196, 0.1);
}

.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: clamp(8px, 5vw, 15px);
  gap: 5px;
  width: 40%;
  flex: 1 1 40%;
  margin-bottom: 5px;
}

input {
  width: 70%;
  height: 20px;
  border: 1px solid #2b5a27;
  box-shadow: 0 0 5px rgba(72, 79, 109, 0.1);
}

input:invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid #3d20bd;
  outline: none;
  box-shadow: 0 0 5px rgba(72, 79, 109, 0.3);
}

.form-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  padding: 20px;
  height: 30vh;
}

button {
  cursor: pointer;
  width: 20%;
  height: 40px;
  background-color: #596d48;
  color: white;
  border: 2px solid #596d48;
  border-radius: 5px;
}

button:hover {
  background-color: #4a5a3c;
  transform: scale(1.02);
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: #596d48;
}

a:hover {
  text-decoration: underline;
}
